* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg , #0a0a0a , #3a4452);
}
.calculator {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113,115,119,0.5) ;
}
input {
    width: 320px;
    border: none;
    outline: none;
    padding: 24px;
    margin-bottom: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.9);
    font-size: 40px;
    color: #ffffff;
    text-align: right;
}
input::placeholder{
    color: #ffffff;
}
button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(113,115,119,0.2);
    cursor: pointer;
}
button:active {
    box-shadow: inset -4px -4px 10px rgba(255,255,255,0.1),
                inset 4px 4px 10px rgba(0,0,0,0.4);
    transform: scale(0.95);
}

.cbtn{
    color: rgba(232, 17, 17, 0.929);
}
.equal {
   background-color: #2ed205fe;
}
.operator {
    background: rgb(105, 3, 66);
    color: #ffffff;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;

    background-color: rgba(255, 255, 255, 0.1); /* semi-transparent white */
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
                0 4px 20px rgba(0, 0, 0, 0.3);

    text-shadow: 0 0 5px rgba(255,255,255,0.2),
                 0 0 10px rgba(255,255,255,0.2);
}
